<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Street Art</span>
                <h1 class="mt-4">Creative Collective</h1>
                <p class="p-des mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum
                    molestie est vitae molestie. Nam ac tempor diam. Phasellus fermentum augue ac massa euismod, et facilisis ex ornare. Nunc
                    vulputate ipsum sit amet luctus tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed
                    vel felis ipsum. Fusce sed augue elit. Donec mollis velit massa, et maximus neque euismod a. Suspendisse
                    odio purus, consectetur quis sem id, placerat consequat urna. Sed porta magna nec varius iaculis.
                    Etiam lacinia eleifend lacinia.</p>
                <a href="#" class="p-readmore">Read More <img src="assets/img/rm_right.png" alt="Read more icon"
                        width="15" class="ml-2"></a>

                <div>
                    <h6>Subscribe to our Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Enter your email here" autocomplete="off">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>